<div class="tag-option-container">
  {{#each model as |tag|}}
    {{tag-item tag=tag}}
  {{/each}}
</div>

<hr/>

<div class="tag-selected-container">
{{#each model as |tag|}}
  {{#if tag.selected}}
    {{tag-description tag.title tag.valence increaseValence="increaseValence" decreaseValence="decreaseValence" tag=tag}}
  {{/if}}
{{/each}}
</div>
