{{computedDescription}}
<span class="highlight">{{title}}</span>
<span class="arrow-up" {{action "increaseValence" tag on="click"}}></span>
<span class="arrow-down" {{action "decreaseValence" tag on="click"}}></span>
